.sidebar {
  position: fixed;
  height: 100vh;
  width: 175px;
  background-color: #E8EFFF;
  padding:12px;
  border-right: #767676 solid 2px;
}

/* .sidebar-transition {
  transition-property: left;
  transition-duration: 0.5s;
} */
